





// ----------------------------
// AnyMeal Meal Entry
// ----------------------------


// Meal Quote
// ----------
aside.pullquote {
	text-align: center;
	width: 50%;
	margin: 0 auto;

	blockquote {
		font-size: emCalc(30px);
		position: relative;
		color: black;
		font-style: italic;
		line-height: emCalc(20px);
		margin-bottom: 24px;
		border-left: 0;
		padding: 0;

		span.quotemark {
			font-family: $sans-serif;
		}
	}

	cite {
		font-style: normal;
		color: darken($dark-grey, 10%);
		word-spacing: .24em;
		letter-spacing: .1em;
		font-size: emCalc(16px);
		text-transform: uppercase;
		font-family: $sans-serif;
	}

	@include breakpoint(tablet-V) {
		width: 70%;

		blockquote {
			font-size: emCalc(20px);
		}

		cite {
			font-size: emCalc(14px);
		}
	}
}

article.entry {

	@include grid-row();
	margin: 80px auto;

	// Meal Intro
	// ----------
	.intro {
		@extend .large-12;
		@extend .column;
		margin-bottom: 40px;

		.main-photo {
			@extend .large-6;
			@extend .column;
			padding: 0;
			margin-bottom: 24px;

			@include breakpoint(tablet-V) {
				padding: 0 0.9375em;
			}
		}

		.content {
			@extend .large-5;
			@extend .column;
			float: right;
			width: 43.3%;

			@include breakpoint(tablet-V) {
				width: auto;
				float: none;
			}
		}

		// Meta
		// -----
		.meta {
			margin: 14px 0 24px;
		}
	}

	// Meal Photos
	.photos {
		@include grid-row();

		figure {
			@extend .large-12;
			@extend .column;
			margin: 20px 0;
		}
	}
}



