





// ----------------------------
// AnyMeal Photos
// ----------------------------

figure {
	figcaption {
		font-size: emCalc(11px);
		margin: 8px 0;
		font-style: italic;
		color: lighten($black, 50%);
	}
}
