





// ----------------------------
// AnyMeal Footer
// ----------------------------




footer#site-footer {

	background: $white;
	padding: 10px;
	border-bottom: 16px solid $black;
	border-top: 1px solid lighten($black, 70%);
	position: relative;
	z-index: 1;

	// Lists
	// -----
	ul li {
		list-style: none;
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
	}

	// Links
	// -----
	a {
		color: $black;
		font-style: italic;
		font-size: emCalc(14px);
	}

	// Headers
	// -------
	h5 {
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
		font-size: emCalc(16px);
	}
	.name h1 {
	  margin:0;
	  line-height: 10px;

		span {
		  font-family: $serif;
		  font-size: 10px;
		  font-style: italic;
		  text-transform: none;
		  display: inline-block;
		  top: -2px;
		  position: relative;
		  text-indent: 16px;

		  @include breakpoint(tablet-V) {
		  	display: none;
		  }
		}

	  	a {
		  font-size: 24px;
		  letter-spacing: .1em;
		  color:lighten($black, 70%);
		  font-style: normal;

		  &:hover {
			color:#636567;
		  }
		}
	}

	// Footer Grid
	// --------------
	.inner {
		@include grid-row;

		margin:20px auto;
	}
	.footer-column {
		// @include grid-column(3);
		@extend .large-3;
		@extend .column;
	}

	.footer-right {
		float: right;
	}

	.footer-left {
		float: left;
	}

	.footer-left, .footer-right {
	  display: inline-block;

	  @include breakpoint(tablet-V) {
	  	float: none;
		display: block;
		text-align: center;
		margin: 0 auto 12px;
	  }
	}




	// Social
	// ------
	ul.social {
	  margin:0;
	  color:lighten($black, 70%);

		li {
			display: inline-block;
			@include border-radius(6px 6px);
			line-height: emCalc(16px);
			border-bottom:0;
			margin: 0 4px;
			@include transition(background .15s ease-in-out);

			a {
				display: inline-block;
				font-size: emCalc(16px);
				color: lighten($black, 70%);
				text-align: center;

				&:hover {
					color:#636567;
				}
			}

		}
	}


	// Footnote
	// --------
	.footnote {
		@include grid-row();
		@include grid-column(3);
		clear: both;
		float:none;
		text-align:center;
		padding: 40px 0 34px;

		// Header
		h4 {
			font-weight: 400;
		}

		// Detail
		// ------
		span.detail {
			display: block;
			font-family: $serif;
			font-style:italic;
			margin-bottom: 4px;
		}
	}
}




