





// ----------------------------
// AnyMeal Typography
// ----------------------------




// Import Entypo Social Icons
// --------------------------

@font-face {
    font-family: 'entypo-social';
    src: url('../webfonts/entypo-social/entypo-social.eot');
    src: url('../webfonts/entypo-social/entypo-social.woff') format('woff'),
         url('../webfonts/entypo-social/entypo-social.ttf') format('truetype'),
         url('../webfonts/entypo-social/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

.en-social {
	font-family: "entypo-social";
	font-size:emCalc(28px);
	position: relative;
	top: 1px;
}




// Links
// -----
a {
	&:hover {
		@include transition(color .15s ease-in-out);
	}
}

// Headers
// -------
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase !important;
}

// Horizontal Rules
// ----------------
hr {
	width: 50px;
	border-width: 2px 0 0;
	border-color: #000;
}


// Special Class
.lighten {
	h1, h2, h3, h4, h5, h6, hr, p {
		color: lighten($black, 70%);
		border-color: lighten($black, 70%);
	}
}


// Selection Text
// ---------------
::-moz-selection{text-shadow: none;background-color: darken($white, 10%); color: $black;}
::selection {text-shadow: none;background-color: darken($white, 10%); color: $black;}





