





// ----------------------------
// AnyMeal Footer
// ----------------------------




footer#site-footer {

	background: $dark-grey;
	padding: 10px;
	border-bottom: 6px solid $black;
	margin: 40px 0 0;
	
	// Lists
	// -----
	ul li {
		list-style: none;
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
	}

	// Links
	// -----
	a {
		color: $black;
		font-style: italic;
		font-size: emCalc(14px);

		&:hover {
			color: $grey;
		}
	}

	// Headers
	// -------
	h5 {
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
		font-size: emCalc(16px);
	}

	// Footer Grid
	// --------------
	.inner {
		@include grid-row;
		margin-top: 48px;
	}
	.footer-column {
		@include grid-column(3);
	}

	// Footnote
	// --------
	.footnote {
		@include grid-row;		
		@include grid-column(3);
		clear: both;
		float:none;
		text-align:center;
		padding: 40px 0 34px;

		// Header 
		h4 {
			font-weight: 400;
		}

		// Detail
		// ------
		span.detail {
			display: block;
			font-family: $serif;
			font-style:italic;
			margin-bottom: 4px;
		}
	}
}




